body{
	background-color: lightblue;
}

h1{
	text-align: center;
}

.sub-heading{
	font-weight: bold;
}

#job-title{
	font-style: italic;
}

.resume-bio{
	background-color: white;
	width:60%;
	margin-left: 16%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 5%;
	opacity: 0.8;
	padding-left: 5%;
	padding-top:5%;
	padding-bottom:5%;
	padding-right:3%;
}

.index p{
	text-align: center;
}
